<div class="contact">
    <div class="container">
        <div class="contact__flexbox">
            <div class="contact__phone">
                <img src="assets/icons/phone-icon.png" width="13px" alt="">
                <p class="contact__phone__number"><a href="">+7 (999) 133-21-83</a></p>
                <p class="contact__phone__number"><a href="">8 (800) 222-31-36</a>-  Бесплатно по России</p>
            </div>
            <div class="contact__links">
                <a class="contact__links__link" href="">Контакты</a>
                <a class="contact__links__link" href="">Доставка</a>
                <a class="contact__links__link" href="">FAQ</a>
                <a class="contact__links__link" href="">Блог</a>
            </div>
        </div>
    </div>
</div>