.contact {
    width: 100%;
    background-color: #F6F6F6;
    padding: 14px 0px 12px 0;
    &__flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        display: flex;
        align-items: center;
        &__number {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: #222222;
            font-weight: 300;
            a {
                color: #222222;
                font-size: 15px;
                line-height: 18px;
                font-weight: 400;
            }
            &:not(:last-child) {
                margin-right: 29px;
            }
        }
    }
    &__links {
        display: flex;
        align-items: center;
        &__link {
            color: #222222;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            text-decoration-line: underline;
            &:not(:last-child) {
                margin-right: 29px;
            }
        }
    }
}