<header class="header">
    <div class="contact">
        <div class="container">
            <div class="contact__flexbox">
                <div class="contact__phone">
                    <img src="assets/icons/phone-icon.png" width="13px" alt="">
                    <p class="contact__phone__number"><a href="">+7 (999) 133-21-83</a></p>
                    <p class="contact__phone__number"><a href="">8 (800) 222-31-36</a>-  Бесплатно по России</p>
                </div>
                <div class="contact__links">
                    <a class="contact__links__link" href="">Контакты</a>
                    <a class="contact__links__link" href="">Доставка</a>
                    <a class="contact__links__link" href="">FAQ</a>
                    <a class="contact__links__link" href="">Блог</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__flexbox">
            <a href="" class="logo">
                <div class="logo__img">
                    <img src="assets/icons/logo.png" alt="">
                </div>
                <div class="logo__text">
                    <h1 class="logo__text__name">Нилмарт</h1>
                    <span class="logo__text__slogan">Восточный онлайн маркет</span>
                </div>
            </a>
            <div class="header__elem">
                <form class="header__search" action="">
                    <input class="header__search__input" type="text" placeholder="Поиск...">
                    <button class="header__search__button"><img src="assets/icons/search.png" alt=""></button>
                </form>
                <button (click)="counter()" [ngClass]="count == 0 ? 'button-null' : 'button-active'" class="button button-null">
                    <span class="basket_items_count">{{count}}</span>
                    <img src="assets/icons/shop-cart.png" width="22px" height="22px" alt="">
                </button>
            </div>
        </div>
        <div class="header__catergories">
            <a class="header__catergories__btn">
                <img src="assets/icons/perfume.png" alt="">
                Парфюмерия
            </a>
            <a class="header__catergories__btn">
                <img src="assets/icons/cosmetic.png" alt="">
                Косметика
            </a>
            <a class="header__catergories__btn">
                <img src="assets/icons/herb.png" alt="">
                Травы
            </a>
            <a class="header__catergories__btn">
                <img src="assets/icons/oil.png" alt="">
                Масла
            </a>
            <a class="header__catergories__btn">
                <img src="assets/icons/nutrition.png" alt="">
                Питание
            </a>
            <a class="header__catergories__btn">
                <img src="assets/icons/promotions.png" alt="">
                Акции
            </a>
            <a class="header__catergories__btn">
                <img src="assets/icons/brands.png" alt="">
                Бренды
            </a>
        </div>
    </div>
</header>
    