<div class="main-slider" (mouseover)="clearInt()" (mouseout)="setInt()">
    <div class="slider" [ngStyle]="{'left': pos, 'width': width}">
        <div class="slider__element">
            <div class="slider__element__text">
                <h2>Поступление натуральной
                    косметики из Марокко</h2>
                <p>Получите 5% скидки на косметику из Марокко</p>
                <form action="">
                    <div class="inputs">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="" id="">
                        <label for="">Даю согласие на обработку персональных данных</label>
                    </div>
                    <button>Получить скидку</button>
                </form>
            </div>
            <div class="slider__element__img">
                <img src="assets/images/1.png" alt="">
            </div>
        </div>
    </div>
</div>